/*

Developed by:
    ___       ___       ___       ___       ___       ___            ___       ___       ___       ___       ___       ___       ___       ___   
   /\  \     /\__\     /\  \     /\  \     /\  \     /\  \          /\  \     /\  \     /\  \     /\  \     /\  \     /\__\     /\__\     /\  \  
  /::\  \   /:| _|_   /::\  \   /::\  \   /::\  \   /::\  \        /::\  \   _\:\  \   /::\  \   /::\  \   /::\  \   /:/  /    /:/  /    _\:\  \ 
 /::\:\__\ /::|/\__\ /:/\:\__\ /::\:\__\ /::\:\__\ /::\:\__\      /::\:\__\ /\/::\__\ /:/\:\__\ /::\:\__\ /::\:\__\ /:/__/    /:/__/    /\/::\__\
 \/\::/  / \/|::/  / \:\/:/  / \;:::/  / \:\:\/  / \/\::/  /      \/\:\/__/ \::/\/__/ \:\/:/  / \;:::/  / \:\:\/  / \:\  \    \:\  \    \::/\/__/
   /:/  /    |:/  /   \::/  /   |:\/__/   \:\/  /    /:/  /          \/__/   \:\__\    \::/  /   |:\/__/   \:\/  /   \:\__\    \:\__\    \:\__\  
   \/__/     \/__/     \/__/     \|__|     \/__/     \/__/                    \/__/     \/__/     \|__|     \/__/     \/__/     \/__/     \/__/  

www.andreafiorelli.com

*/
/*
12 Colori set scuro
colore:#9e8b24
colore:#8a8444
colore:#956f3e
colore:#a8a200
colore:#88101d
colore:#ac502a
colore:#735079
colore:#008173
colore:#735079
colore:#25545d
colore:#956f3e
colore:#008173
*/
@font-face {
  font-family: 'Roboto-Slab-regular';
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Slab-light';
  src: url("../fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-regular';
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype"); }
body, ul, li {
  font-family: "Roboto-Slab-light";
  font-size: 15px;
  line-height: 20px; }

body {
  margin: 100px 0 0 0;
  padding: 0px; }

body.login {
  background-color: #F4F4ED; }

.paragrafo-stretto {
  font-size: 0.8em;
  line-height: 0.8em; }

h1, h2, h3, ul.document-box li p.doc-autori, ul.document-box li a, h4, h5, h6 {
  color: #4d4d2f; }

h1 {
  font-family: "Roboto-Slab-regular";
  font-size: 2.5em;
  line-height: 1.1em;
  letter-spacing: -0.02em;
  padding: 0 0 30px 0; }

h2 {
  font-family: "Roboto-Slab-regular";
  font-size: 1.3em;
  line-height: 1em;
  padding: 0 0 10px 0; }

h3, ul.document-box li p.doc-autori, ul.document-box li a {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1.2em; }

h4 {
  font-family: "Roboto-Slab-regular";
  font-size: 1.1em;
  line-height: 1.1em;
  letter-spacing: -0.02em; }

h5 {
  font-family: "Roboto-Slab-light";
  font-size: 0.9em;
  line-height: 1.4em; }

h6 {
  font-family: "Roboto-Slab-light";
  font-size: 0.8em;
  line-height: 1em; }

p {
  padding: 0;
  margin: 0; }

/*
 ######   ######## ##    ## ######## ########     ###    ##       #### 
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##        ##  
##        ##       ####  ## ##       ##     ##  ##   ##  ##        ##  
##   #### ######   ## ## ## ######   ########  ##     ## ##        ##  
##    ##  ##       ##  #### ##       ##   ##   ######### ##        ##  
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##        ##  
 ######   ######## ##    ## ######## ##     ## ##     ## ######## #### 
*/
.columns {
  border: 0px solid #CCC; }

/*Un Po di reset*/
a {
  color: #4d4d2f; }

a:hover {
  text-decoration: underline; }

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important; }

.titolino {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.05em; }

.titolino b {
  font-family: "Montserrat-regular";
  font-size: 1em; }

.sidecolumn {
  border-left: 1px solid #CCC; }

.titolo_big {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 2.2em;
  letter-spacing: 0.01em; }

.titolo_mega {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 3.2em;
  letter-spacing: 0.01em; }

.random_colored {
  color: #f1ebda; }

.hp-panel {
  border: 0px solid #ccc;
  margin-bottom: 30px; }

#loader {
  /*background:#FFFFFF url(../images/ajax-loader.gif) no-repeat center center;*/
  background-color: #FFF;
  min-height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: table-cell;
  vertical-align: middle; }

#ajax-loader {
  position: absolute;
  top: 45%;
  left: 50%;
  /*display: block;
  margin-left:auto;
  margin-right: auto;*/ }

/*
##        #######   ######    #######  
##       ##     ## ##    ##  ##     ## 
##       ##     ## ##        ##     ## 
##       ##     ## ##   #### ##     ## 
##       ##     ## ##    ##  ##     ## 
##       ##     ## ##    ##  ##     ## 
########  #######   ######    #######  
*/
.logo {
  background: url("../images/logo40.exec01.svg") 50% 0% no-repeat;
  background-size: 80px; }

#logo-spacer {
  height: 200px; }

.logo p {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  color: #b0b07e;
  letter-spacing: 0.2em;
  font-size: 1em;
  margin: 0;
  padding: 0; }

p.logo_payoff {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #4d4d2f;
  text-align: center;
  background: transparent url("../images/logo-shadow.png") 50% 100% no-repeat;
  height: 80px;
  clear: both;
  float: none;
  padding: 20px 0 0 0; }

.logo b {
  font-family: "Montserrat-regular";
  color: #732706;
  font-weight: 700; }

p.logo_ita {
  letter-spacing: 0.1em;
  float: left;
  text-align: right;
  width: 50%;
  border: 0px solid #ccc;
  padding-right: 50px; }

p.logo_en {
  float: right;
  text-align: left;
  width: 50%;
  border: 0px solid #ccc;
  padding-left: 50px; }

.logo_large {
  background-size: 80px;
  padding: 35px 0 0 0;
  margin: 20px auto 0 auto;
  position: relative;
  z-index: 0; }

.logo_large p.logo_payoff {
  padding-top: 50px;
  height: 110px; }

.logo_medium {
  background-size: 140px;
  padding: 180px 0 0 0;
  margin: 50px 0 0 0; }

.logo_small {
  background-size: 160px;
  padding-top: 250px;
  margin: 65px 0 0 0; }

.iss-logo {
  /*position: absolute;
  z-index: 200;
  top: 86px;*/
  background: transparent url("../images/iss-logo-small.svg") no-repeat;
  width: 40px;
  height: 40px;
  /*margin: 0 0 0 -10px;*/
  -webkit-background-size: contain;
  background-size: contain; }

#menutop-logo {
  position: absolute;
  margin-top: 27px;
  margin-left: -15px; }

#logo-area {
  border: 0px solid #ccc;
  position: fixed;
  top: 67px;
  z-index: 50;
  width: 100%;
  background-color: #FFF; }

/*
##     ##    ###    ########  ########     ###       ########   #######  ########  ##     ## ########  
###   ###   ## ##   ##     ## ##     ##   ## ##      ##     ## ##     ## ##     ## ##     ## ##     ## 
#### ####  ##   ##  ##     ## ##     ##  ##   ##     ##     ## ##     ## ##     ## ##     ## ##     ## 
## ### ## ##     ## ########  ########  ##     ##    ########  ##     ## ########  ##     ## ########  
##     ## ######### ##        ##        #########    ##        ##     ## ##        ##     ## ##        
##     ## ##     ## ##        ##        ##     ##    ##        ##     ## ##        ##     ## ##        
##     ## ##     ## ##        ##        ##     ##    ##         #######  ##         #######  ##        
*/
div#projects_map {
  background-color: #EFEFE8;
  font-size: .9em;
  overflow: hidden;
  height: 0px;
  border: 0px solid #CCC;
  position: fixed;
  top: 100px;
  z-index: 51;
  width: 100%; }

div#projects_map ul li {
  font-family: "Roboto-Slab-light";
  font-size: .9em;
  line-height: 1.2em; }

div#projects_map ul li a {
  color: #333;
  margin-bottom: 10px;
  display: block; }

div.sitemap {
  /*margin-top: 30px;*/
  /*margin-bottom: 50px;*/
  padding: 30px 100px 20px 100px; }

div.sitemap b {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 20px;
  display: block; }

/* 
##    ## ######## ##      ##  ######  
###   ## ##       ##  ##  ## ##    ## 
####  ## ##       ##  ##  ## ##       
## ## ## ######   ##  ##  ##  ######  
##  #### ##       ##  ##  ##       ## 
##   ### ##       ##  ##  ## ##    ## 
##    ## ########  ###  ###   ######  
*/
.hp-news {
  font-family: "Roboto-Slab-light";
  font-size: 0.9em;
  line-height: 1.3em;
  margin-bottom: 20px;
  display: block;
  margin-bottom: 40px; }

.hp-news-bar {
  height: 20px;
  display: block;
  width: 20px;
  margin-bottom: 6px;
  float: left;
  border-radius: 50%; }

.hp-news-occhiello {
  height: auto;
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.1em;
  color: #888;
  margin: 0 0 15px 0px; }

.hp-news-titolo {
  font-family: "Roboto-Slab-regular";
  font-size: 1.7em;
  line-height: 1.1em;
  letter-spacing: -.03em;
  padding-bottom: 10px;
  color: #555; }

.hp-news-dateinfo {
  font-size: 1em;
  color: #333333;
  border-bottom: 1px solid #CCC;
  padding: 0 0 5px 0;
  margin-bottom: 10px; }

.hp-news-dateinfo i.fa {
  float: right;
  color: #333333;
  cursor: pointer;
  padding: 4px;
  /*border-radius: 40%;*/ }

.hp-news-dateinfo i.fa:hover {
  color: #222222; }

.hp-news-info {
  padding: 0px;
  border: 0px solid #CCC;
  height: 0px;
  margin: 14px 0 10px 10px;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.3em; }

/*
##     ##    ###    ########  ########     ###       ####  ######   #######  ##    ## ######## 
###   ###   ## ##   ##     ## ##     ##   ## ##       ##  ##    ## ##     ## ###   ## ##       
#### ####  ##   ##  ##     ## ##     ##  ##   ##      ##  ##       ##     ## ####  ## ##       
## ### ## ##     ## ########  ########  ##     ##     ##  ##       ##     ## ## ## ## ######   
##     ## ######### ##        ##        #########     ##  ##       ##     ## ##  #### ##       
##     ## ##     ## ##        ##        ##     ##     ##  ##    ## ##     ## ##   ### ##       
##     ## ##     ## ##        ##        ##     ##    ####  ######   #######  ##    ## ######## 
*/
div.hp-icons-map {
  /*margin-bottom: 60px;*/ }

.fullscreen-map-toggler {
  cursor: pointer; }

ul.hp-icons-map {
  padding-top: 20px; }

ul.hp-icons-map li {
  font-family: "Roboto-Slab-regular";
  font-size: .98em;
  line-height: 1.1em;
  padding-top: 40px;
  /*background: #fff url('../images/icon01.png') 50% 0 no-repeat;*/
  background-repeat: no-repeat; }

ul.hp-icons-map li i.hpicons {
  display: block;
  margin-bottom: 25px; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 50px;
  font-style: normal;
  margin-left: 20px; }

/*Fonts Styles*/
.big {
  font-family: "Roboto-Slab-regular";
  font-size: 3em;
  line-height: 1.1em;
  color: #4d4d4d;
  letter-spacing: -.02em; }

.big-light {
  font-family: "Roboto-Slab-light";
  font-size: 3em;
  line-height: 1.1em;
  color: #666;
  letter-spacing: -.02em; }

/*
   ###    ########  ######## ####  ######   #######  ##        #######      ######  #### ##    ##  ######    #######  ##        #######  
  ## ##   ##     ##    ##     ##  ##    ## ##     ## ##       ##     ##    ##    ##  ##  ###   ## ##    ##  ##     ## ##       ##     ## 
 ##   ##  ##     ##    ##     ##  ##       ##     ## ##       ##     ##    ##        ##  ####  ## ##        ##     ## ##       ##     ## 
##     ## ########     ##     ##  ##       ##     ## ##       ##     ##     ######   ##  ## ## ## ##   #### ##     ## ##       ##     ## 
######### ##   ##      ##     ##  ##       ##     ## ##       ##     ##          ##  ##  ##  #### ##    ##  ##     ## ##       ##     ## 
##     ## ##    ##     ##     ##  ##    ## ##     ## ##       ##     ##    ##    ##  ##  ##   ### ##    ##  ##     ## ##       ##     ## 
##     ## ##     ##    ##    ####  ######   #######  ########  #######      ######  #### ##    ##  ######    #######  ########  #######  */
p.categoria {
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.1em;
  color: #888;
  margin: 0 0 10px 0; }

p.titolo {
  margin: 0 0 30px 0; }

p.data {
  font-family: "Roboto-Slab-regular";
  font-size: 1.2em;
  color: #777;
  margin-bottom: 8px; }

p.key-autore, p.key-keywords {
  font-size: 1em;
  line-height: 1.3em;
  margin: 0 0 0 20px;
  padding: 0 20px 0 20px;
  border-left: 1px solid #ccc; }

p.key-autore {
  padding-bottom: 20px; }

p.key-keywords {
  padding-top: 20px;
  border-top: 1px solid #ccc; }

img.single-article-featured {
  /*width: 240px;*/
  /*	height: 200px;
  */
  margin: 0 0 20px 20px;
  padding-right: 20px; }

/*
########     ###     ######   #### ##    ##    ###       ########  ########   #######   ######   ######## ######## ########  #######  
##     ##   ## ##   ##    ##   ##  ###   ##   ## ##      ##     ## ##     ## ##     ## ##    ##  ##          ##       ##    ##     ## 
##     ##  ##   ##  ##         ##  ####  ##  ##   ##     ##     ## ##     ## ##     ## ##        ##          ##       ##    ##     ## 
########  ##     ## ##   ####  ##  ## ## ## ##     ##    ########  ########  ##     ## ##   #### ######      ##       ##    ##     ## 
##        ######### ##    ##   ##  ##  #### #########    ##        ##   ##   ##     ## ##    ##  ##          ##       ##    ##     ## 
##        ##     ## ##    ##   ##  ##   ### ##     ##    ##        ##    ##  ##     ## ##    ##  ##          ##       ##    ##     ## 
##        ##     ##  ######   #### ##    ## ##     ##    ##        ##     ##  #######   ######   ########    ##       ##     #######  
*/
article {
  min-height: 800px; }

.main-proj-column {
  border-right: 1px solid #ccc; }

img.thumb-288 {
  width: 288px;
  height: 138px;
  margin-bottom: 50px; }

.titolo-sidebox {
  padding: 10px 0 20px 0; }

div.colored-box {
  height: 10px;
  width: 50%;
  margin: 0 0 20px 0; }

div.colored-box:first-child {
  height: 10px;
  width: 50%;
  margin: 0 0 0 0; }

ul.staff-list li {
  text-align: left;
  margin: 0;
  padding: 0; }
ul.staff-list li a, ul.staff-list li a:visited {
  color: #000000; }

h3.excerpt, ul.document-box li p.excerpt.doc-autori, ul.document-box li a.excerpt, h3.proj_main_goal, ul.document-box li p.proj_main_goal.doc-autori, ul.document-box li a.proj_main_goal {
  color: #666;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 8px 0 20px; }

.staff-mini-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 0 5px 0; }

.staff-big-image {
  margin-top: 20px; }

ul.social-list {
  margin: -5px 0 0 -5px;
  font-size: 1em; }

ul.social-list li {
  margin: 0 6px 0 0; }

a.pdf-download {
  color: #000000;
  position: relative;
  display: block;
  background: url(../images/pdf-icon.png) no-repeat 0 0;
  -webkit-background-size: 25px;
  background-size: 25px;
  padding: 0 0 0 40px;
  margin: 20px 0 0 0;
  min-height: 50px; }

.pdf-abstract {
  font-size: 0.9em;
  line-height: 1.2em; }

b.attach_size {
  float: left;
  position: absolute;
  top: 45px;
  left: 0; }

ul.document-box li {
  margin-bottom: 20px; }
ul.document-box li p.doc-autori, ul.document-box li a {
  line-height: 1.3em;
  font-size: 0.7em;
  margin-bottom: 5px; }
ul.document-box li p.doc-titolo {
  line-height: 1.3em;
  font-size: 0.9em; }
ul.document-box li div.doc-abstract {
  display: none; }

.mappina_titolo {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 100;
  width: 150px;
  border: 0px solid #CCC; }

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/
div.footer-container {
  min-height: 400px;
  width: 100%;
  background: #F4F4ED url(../images/cnsg.logo.white.png) no-repeat 50% 20px;
  -webkit-background-size: 80px;
  background-size: 100px;
  padding: 160px 0 0 0;
  margin: 60px 0 0 0;
  color: #333;
  text-align: center; }

/*
 ######  ########  ######  ######## ####  #######  ##    ##  ######  
##    ## ##       ##    ##    ##     ##  ##     ## ###   ## ##    ## 
##       ##       ##          ##     ##  ##     ## ####  ## ##       
 ######  ######   ##          ##     ##  ##     ## ## ## ##  ######  
      ## ##       ##          ##     ##  ##     ## ##  ####       ## 
##    ## ##       ##    ##    ##     ##  ##     ## ##   ### ##    ## 
 ######  ########  ######     ##    ####  #######  ##    ##  ######  
*/
section {
  padding: 0 0 20px 0; }

div.section-title {
  margin: 20px 0 50px 0;
  text-align: center;
  position: relative; }

div.section-title b {
  font-weight: 700; }

div.section-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #CCC;
  width: 40%;
  z-index: 1; }

div.section-title:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  border-top: 1px solid #CCC;
  width: 40%;
  z-index: 2; }

/*
##    ##    ###    ##     ## ####  ######      ###    ######## ####  #######  ##    ## ########    ########  #######  ########  
###   ##   ## ##   ##     ##  ##  ##    ##    ## ##        ##   ##  ##     ## ###   ## ##             ##    ##     ## ##     ## 
####  ##  ##   ##  ##     ##  ##  ##         ##   ##      ##    ##  ##     ## ####  ## ##             ##    ##     ## ##     ## 
## ## ## ##     ## ##     ##  ##  ##   #### ##     ##    ##     ##  ##     ## ## ## ## ######         ##    ##     ## ########  
##  #### #########  ##   ##   ##  ##    ##  #########   ##      ##  ##     ## ##  #### ##             ##    ##     ## ##        
##   ### ##     ##   ## ##    ##  ##    ##  ##     ##  ##       ##  ##     ## ##   ### ##             ##    ##     ## ##        
##    ## ##     ##    ###    ####  ######   ##     ## ######## ####  #######  ##    ## ########       ##     #######  ##        

*/
nav.menutop {
  /*width: 100%;
  background-color: #FFFFFF;*/ }

div.menutop {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: #F4F4ED;
  height: 67px;
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 0px;
  overflow: hidden; }

div.menutop ul {
  position: relative; }

div.menutop ul li {
  height: 67px;
  padding: 20px 20px 10px 20px;
  margin: 0px; }

div.menutop ul li:first-child {
  padding-left: 0px; }

div.menutop ul#scelta_lingua li:last-child:before {
  content: "";
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 150px; }

ul#social {
  margin: 0 180px 0 0;
  overflow: visible; }

ul#social li {
  color: #6F6F6E;
  margin: -6px -30px 0 0; }

ul#social li h3, ul#social ul.document-box li p.doc-autori, ul.document-box ul#social li p.doc-autori, ul#social ul.document-box li a, ul.document-box ul#social li a {
  color: #6F6F6E; }

/*Secondo Menu 
 ######  ########  ######   #######  ##    ## ########   #######     ##     ## ######## ##    ## ##     ##    
##    ## ##       ##    ## ##     ## ###   ## ##     ## ##     ##    ###   ### ##       ###   ## ##     ##    
##       ##       ##       ##     ## ####  ## ##     ## ##     ##    #### #### ##       ####  ## ##     ##    
 ######  ######   ##       ##     ## ## ## ## ##     ## ##     ##    ## ### ## ######   ## ## ## ##     ##    
      ## ##       ##       ##     ## ##  #### ##     ## ##     ##    ##     ## ##       ##  #### ##     ##    
##    ## ##       ##    ## ##     ## ##   ### ##     ## ##     ##    ##     ## ##       ##   ### ##     ##    
 ######  ########  ######   #######  ##    ## ########   #######     ##     ## ######## ##    ##  #######     
*/
div.menudue {
  /*display: none;*/
  position: fixed;
  z-index: 151;
  top: -67px;
  left: 0;
  width: 100%;
  height: 67px;
  padding: 20px 0 10px 0;
  background: #F4F4ED url("../images/cnsg-minilogo.png") no-repeat 50% 50%;
    /*	-webkit-background-size: contain;
	background-size: contain;*/ }

#menudue-logo-iss {
  float: right;
  margin: -31px -10px 0 0; }

.menudue-logo {
  text-align: center; }

.menudue-logo h3#logosx, .menudue-logo ul.document-box li p#logosx.doc-autori, ul.document-box li .menudue-logo p#logosx.doc-autori, .menudue-logo ul.document-box li a#logosx, ul.document-box li .menudue-logo a#logosx {
  display: inline;
  margin-right: 60px; }

.menudue-logo h3#logodx, .menudue-logo ul.document-box li p#logodx.doc-autori, ul.document-box li .menudue-logo p#logodx.doc-autori, .menudue-logo ul.document-box li a#logodx, ul.document-box li .menudue-logo a#logodx {
  display: inline; }

/*Mappona fullscreen progetti

##     ## ######## ##    ## ##     ##    ######## ##     ## ##       ##        ######   ######  ########  ######## ######## ##    ## 
###   ### ##       ###   ## ##     ##    ##       ##     ## ##       ##       ##    ## ##    ## ##     ## ##       ##       ###   ## 
#### #### ##       ####  ## ##     ##    ##       ##     ## ##       ##       ##       ##       ##     ## ##       ##       ####  ## 
## ### ## ######   ## ## ## ##     ##    ######   ##     ## ##       ##        ######  ##       ########  ######   ######   ## ## ## 
##     ## ##       ##  #### ##     ##    ##       ##     ## ##       ##             ## ##       ##   ##   ##       ##       ##  #### 
##     ## ##       ##   ### ##     ##    ##       ##     ## ##       ##       ##    ## ##    ## ##    ##  ##       ##       ##   ### 
##     ## ######## ##    ##  #######     ##        #######  ######## ########  ######   ######  ##     ## ######## ######## ##    ## 

*/
div#fullscreen-mega-map {
  background-color: #f0f0e7;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 102;
  padding: 50px 0 200px 0;
  margin-top: -33px; }

.fullscreen-mega-map-inactive {
  opacity: 0;
  display: none; }

.fullscreen-mega-map-active {
  opacity: 1;
  display: block; }

.logo-fullscreen-map {
  padding: 35px 0 80px 0; }

ul#menu-menu-progetti ul {
  border: 0px solid #FFF;
  margin: 0px;
  padding: 10px 0 10px 0; }

ul#menu-menu-progetti li, ul.sub-menu li {
  margin: 0px;
  cursor: pointer;
  display: block; }

/*Titolo dell area */
li.menu-item-object-progetto a {
  font-family: "Montserrat-regular";
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 0 0; }

/*Titolo di secondo livello*/
ul.sub-menu li.menu-item-object-progetto a {
  font-family: "Roboto-Slab-regular";
  font-size: 15px; }

a.inactive-menu-a:hover {
  text-decoration: none;
  color: #888;
  cursor: default; }

i.fa-times {
  position: absolute;
  top: -10px;
  left: 100%;
  color: #8c8c56;
  font-size: 1.6em;
  cursor: pointer; }

/*
##     ##  #######  ########  #### ##       ######## 
###   ### ##     ## ##     ##  ##  ##       ##       
#### #### ##     ## ##     ##  ##  ##       ##       
## ### ## ##     ## ########   ##  ##       ######   
##     ## ##     ## ##     ##  ##  ##       ##       
##     ## ##     ## ##     ##  ##  ##       ##       
##     ##  #######  ########  #### ######## ######## 
*/
.m-menutop {
  height: 67px;
  width: 100%;
  padding: 20px 0 0 0; }

.inner-wrap {
  height: 100%;
  padding: 10px; }

.off-canvas-wrap {
  margin: -67px 0 0 0;
  height: 100%; }

.inner-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: -1;
  background-color: #F4F4ED; }

aside.left-off-canvas-menu {
  padding-top: 120px;
  background: #333333 url("../images/cnsg.logo.white.png") no-repeat 50% 40px;
  background-size: 40px; }

ul.left-menu-mobile li a h3, ul.left-menu-mobile ul.document-box li a p.doc-autori, ul.document-box ul.left-menu-mobile li a p.doc-autori, ul.left-menu-mobile ul.document-box li a a, ul.document-box ul.left-menu-mobile li a a, ul.left-submenu li a h3, ul.left-submenu ul.document-box li a p.doc-autori, ul.document-box ul.left-submenu li a p.doc-autori, ul.left-submenu ul.document-box li a a, ul.document-box ul.left-submenu li a a {
  color: #fff;
  display: inline;
  font-size: 0.7em; }

.left-submenu {
  height: 100%; }

ul.off-canvas-list li a {
  padding: 5px 18px 8px 18px; }

.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after {
  content: ''; }

li.has-submenu i {
  padding: 0 0 0 10px;
  font-size: 0.6em; }

/*######  ##       ##     ##  ######   #### ##    ##  ######  
##     ## ##       ##     ## ##    ##   ##  ###   ## ##    ## 
##     ## ##       ##     ## ##         ##  ####  ## ##       
########  ##       ##     ## ##   ####  ##  ## ## ##  ######  
##        ##       ##     ## ##    ##   ##  ##  ####       ## 
##        ##       ##     ## ##    ##   ##  ##   ### ##    ## 
##        ########  #######   ######   #### ##    ##  ######  */
li p.flex-caption {
  font-family: "Roboto-Slab-light";
  color: #FFFFFF;
  background-color: #000000;
  margin: 0 20px 0 0;
  padding: 20px;
  position: absolute;
  top: 35%;
  left: 60%;
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 700; }

li p.flex-caption.small {
  color: #FFFFFF;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  font-size: 1.6em;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: 300; }

.slide-cat {
  display: block;
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 0.5em;
  line-height: 1.2em;
  width: auto; }

.slide-cat-small {
  display: block;
  margin: 0 0 5px 0;
  font-family: "Montserrat-regular";
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1.2em;
  width: auto; }

div.chart-numerone {
  font-family: "Roboto-Slab-regular";
  color: #999;
  font-size: 1.9em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center; }

div.chart-label {
  font-family: "Roboto-Slab-light";
  color: #6D6737;
  font-size: 1.2em;
  line-height: 1em;
  margin: 5% 0 0 0; }

/*# sourceMappingURL=app_override.css.map */
